* {
    margin: 0;
    padding: 0;
}

h1 a {
    color:dodgerblue;
    text-decoration: none;
}

h1, p, .content > *{
    margin: 15px;
}

ul {list-style-type:none;}

.content li {
    margin: 5px 0;
}

#result {
    margin: 0 15px;
    white-space: pre-line;
}

#menu {
    text-align: center;
}

#navbar {
    background-color: darkblue;
    position: sticky;
    top: 0;
}

#navbar a {
    color:white;
    display: inline-block;
    padding: 20px 30px 20px 30px;
    text-decoration: none;
}

#navbar li{
    display:inline-block;
}

#navbar li:hover{
    background-color: black;
}
