<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}Mad Libs Generator{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script>
        function toggleDisplay(id){
            var elmt = document.getElementById(id);
            var btn = document.getElementById(id+"button")
            if(elmt.style.display == "none"){
                elmt.style.display = "block"
                btn.innerHTML = "Hide " + btn.innerHTML.substring(5)
            } else{
                elmt.style.display = "none"
                btn.innerHTML = "Show " + btn.innerHTML.substring(5)
            }
        }
    </script>
    {% endblock %}
</head>
<body>
    <h1><a href="/">Mad Libs Generator</a></h1>
	<ul id="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>
    <div class="container" id="content">
		{% block content %}{% endblock %}
	</div>
</body>
</html>
